$spacingSmall: 4px;
$spacingMedium: 8px;
$iconSize: 40px;

.wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	transition: background-color 0.2s;
	cursor: pointer;

	.bossIcon {
		margin-left: 24px;
	}

	.nameDiv {
		display: flex;
		flex-direction: column;
		margin-left: 24px;

		.bossName {
			font-weight: 500;
			color: var(--default-button-text);
		}

		.bossValue {
			font-size: 24px;
			font-weight: 400;
			color: var(--default-button-text);
		}
	}

	.iconsDiv {
		right: 0;
		display: flex;
		margin-left: auto;
		margin-right: 16px;

		.icon {
			right: 0;
			display: flex;
			width: $iconSize;
			height: $iconSize;
			color: var(--default-button-text);
		}
	}
}
