$dropdownHeight: 56px;
$dropdownWidth: 336px;
$borderRadius: 15px;
$dropdownOpenHeight: 242px;
$scrollbarLimit: 16px;
$iconSize: 32px;

.selectedBossWrapper {
	position: relative;
	display: flex;
	align-items: center;

	width: $dropdownWidth;
	height: $dropdownHeight;

	overflow: hidden;

	box-sizing: border-box;

	border: solid 2px var(--default-black);
	border-radius: $borderRadius;
	background-color: var(--background-white);

	cursor: pointer;

	outline: none;

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--background-white) 90%,
			black
		);
	}

	.bossDiv {
		display: flex;
		align-items: center;

		gap: 8px;

		color: var(--default-button-text);

		margin-left: 16px;

		.bossName {
			font-size: 24px;
			font-weight: 500;
		}
	}

	.iconsDiv {
		right: 0;
		display: flex;

		gap: 16px;

		margin-left: auto;
		margin-right: 16px;

		.menuIcon {
			right: 0;
			display: flex;

			width: $iconSize;
			height: $iconSize;

			color: var(--default-button-text);
		}
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 112px;
	height: 40px;

	box-sizing: border-box;

	border: none;
	border-radius: 25px;

	font-size: 16px;
	color: var(--default-button-text);
}

.skip {
	background-color: var(--disabled);
}

.easy {
	background-color: var(--boss-easy);
	color: var(--default-white);
}

.normal {
	background-color: var(--boss-normal);
}

.hard {
	background-color: var(--boss-hard);
}

.chaos {
	border: solid 2px var(--boss-chaos-secondary);
	background-color: var(--boss-chaos);
	color: var(--boss-chaos-secondary);
}

.extreme {
	border: solid 2px var(--boss-extreme-secondary);
	background-color: var(--boss-extreme);
	color: var(--boss-extreme-secondary);
}

.bossList {
	width: $dropdownWidth;
	max-height: $dropdownOpenHeight;

	overflow: hidden;

	border: solid 2px var(--default-black);
	border-radius: $borderRadius;
	background-color: var(--background-white);

	cursor: pointer;

	margin-bottom: 8px;
	margin-top: 8px;

	outline: none;
}

.selectedDifficultyDiv {
	display: flex;
	align-items: center;
	gap: 24px;

	.selectedDifficultyItem {
		display: flex;
		align-items: center;
		gap: 4px;
		width: 48px;
	}

	.points {
		font-family: Roboto, sans-serif;
		font-size: 16px;
	}
}

.bossItem {
	padding-left: 16px;

	&:focus-visible {
		outline: none;
	}

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--background-white) 90%,
			black
		);
	}

	&:not(:last-child) {
		border-bottom: 1px solid #143952;
	}

	.itemContent {
		display: flex;
		align-items: center;

		gap: 8px;

		height: $dropdownHeight;

		font-size: 24px;

		.iconsDiv {
			right: 0;
			display: flex;

			gap: 16px;

			margin-left: auto;
			margin-right: 16px;

			.icon {
				right: 0;
				display: flex;

				width: $iconSize;
				height: $iconSize;

				color: var(--default-button-text);
			}
		}
	}
}

.scrollContainer {
	width: 100%;

	overflow-y: auto;
}
