.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--default-button-text);
    border-radius: 25px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.button:disabled {
    border: 1px solid var(--disabled);
    background-color: var(--disabled);
    cursor: not-allowed;
    gap: 12px;
}

/* Wrap loader to control spacing */
.loaderWrapper {
    display: flex;
    align-items: center;
}

.buttonText {
    display: inline-block;
}