.symbolContainer {
    display: flex;
    width: 298px;
    height: 100px;
}

.imageContainer {
    display: flex;
    align-items: center;
    height: 100px;
}

.off {
    filter: brightness(25%) saturate(0%);
}

.symbolInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin-left: 4px;
}

.levelExpInfo {
    display: flex;
    justify-content: space-between;
    width: 231px;
    height: 23px;
}

.symbolLevelText {
    width: auto;
    font-size: 20px;
    font-weight: 300;
}

.symbolLevel,
.symbolExp {
    width: 45px;
    border: none;
    font-size: 20px;
    font-weight: 300;
    text-align: end;
    color: var(--default-button-text);
    background-color: transparent;
    appearance: textfield;
}

.symbolLevel:focus,
.symbolExp:focus {
    outline: none;
}

.unlockLevel {
    width: 231px;
    font-size: 16px;
    font-weight: 600;
    color: var(--default-button-text);
    margin-top: 4px;
}

.contentList {
    display: flex;
    flex-direction: column;
    height: 59px;
    gap: 4px;
    margin-top: 4px;
}

.progressDiv {
    height: auto;
    margin-top: 4px;
}

.contentItem {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 4px;
}

.checkboxRoot {
    display: flex;
    justify-content: center;
    width: 17px;
    height: 17px;
    border: 1px solid var(--default-button-text);
    background: transparent;
    border-radius: 4px;
}

.checkboxRoot[data-state='checked'] {
    background: var(--default-button-text);
    border-color: var(--default-button-text);
}

.checkboxRoot[data-disabled] {
    background: var(--icon-danger-color);
    cursor: not-allowed;
    border-color: var(--icon-danger-color);
}

.checkboxIndicator {
    color: var(--default-white);

}