.mainDiv {
    display: flex;
    flex-direction: row;
}

.characterContent {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 827px;
}

.buttonLine {
    display: flex;
    justify-content: center;
    width: inherit;
    gap: 24px;
    padding-top: 24px;
}

.increaseAllButton {
    width: 284px;
    height: 56px;
    font-size: 32px;
    font-weight: 500;
    color: var(--default-button-text);
    background-color: var(--primary-color-button);
    border-radius: 50px;
}

.editCharacterButton {
    width: 284px;
    height: 56px;
    font-size: 32px;
    font-weight: 500;
    color: var(--default-button-text);
    background-color: var(--default-color-button);
    border-radius: 50px;
}

.usernameLine {
    display: flex;
    justify-content: flex-end;
    width: inherit;
    height: 80px;
    gap: 16px;
    margin-top: 16px;
    padding-right: 24px;
}

.characterImgDiv {
    width: 80px;
    height: 80px;
}

.characterName {
    font-size: 72px;
    font-weight: 600;
    color: var(--default-button-text);
}

.bigBlock {
    display: flex;
    justify-content: flex-end;
    width: inherit;
    height: 115px;
    margin-top: 16px;
    padding-right: 24px;
}

.characterBossLinkLegion {
    display: flex;
    justify-content: space-between;
    width: 377px;
    height: 98px;
}

.bossSlot {
    width: 90px;
    height: 90px;
}

.bossIcon {
    color: var(--default-button-text);
    margin-top: 8px;
}

.characterClassJob {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 515px;
    height: 115px;
}

.characterClass {
    font-size: 56px;
    color: var(--default-button-text);
}

.characterJob {
    font-size: 40px;
    font-weight: 300;
    color: var(--default-button-text);
}

.levelDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    margin-top: 16px;
}

.levelInput {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: inherit;
    gap: 8px;
    padding-right: 24px;
}

.levelText {
    font-size: 32px;
    font-weight: 300;
    color: var(--default-button-text);
}

.levelTextBlack {
    font-size: 48px;
    font-weight: 500;
    color: var(--default-button-text);
}

.symbols {
    flex: 1;
    width: inherit;
    margin-top: 16px;
    overflow-y: auto;
}

.title {
    font-size: 48px;
    color: var(--default-button-text);
    margin-left: 24px;
}