.skeleton {
	position: relative;
	overflow: hidden;

	&::after {
		position: absolute;
		background: linear-gradient(
			90deg,
			rgb(255 255 255 / 0%) 0%,
			rgb(255 255 255 / 40%) 50%,
			rgb(255 255 255 / 0%) 100%
		);

		transform: translateX(-100%);
		animation: wave 1.6s ease-in-out infinite;
		content: '';

		inset: 0;
	}
}

@keyframes wave {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

.text {
	border-radius: 4px;
}

.rectangular {
	border-radius: 2px;
}

.rounded {
	border-radius: 12px;
}

.circular {
	border-radius: 50%;
}
