$thumbSize: 21px;
$borderRadius: 9999px;

.title {
	font-size: 16px;
	font-weight: 600;
	color: var(--default-button-text);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.root {
	position: relative;
	width: 42px;
	height: 25px;
	border: 1px solid var(--default-black);
	border-radius: $borderRadius;
	background-color: transparent;
	transition: background-color 200ms;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	&[data-state='checked'] {
		background-color: var(--icon-cta-color);
	}

	&[disabled] {
		background-color: var(--disabled);
		cursor: not-allowed;
	}
}

.thumb {
	display: block;
	width: $thumbSize;
	height: $thumbSize;
	border-radius: $borderRadius;
	background-color: var(--default-white);
	transition: transform 200ms;
	transform: translateX(2px);
	will-change: transform;
}

.root[data-state='checked'] .thumb {
	transform: translateX(19px);
}
