$paddingSize: 64px;
$badgeIconSize: 36px;
$textColor: var(--default-white);
$spacingSmall: 8px;
$spacingLarge: 32px;
$fontSizeMedium: 32px;
$fontSizeLarge: 40px;
$fontSizeExtraLarge: 48px;

.mainDiv {
	background-color: var(--default-black);
	color: $textColor;
}

.topBar {
	position: fixed;
	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 168px;
	background: linear-gradient(180deg, #000 0%, rgb(0 0 0 / 51%) 55.08%, rgb(0 0 0 / 0%) 85.07%);
	inset: 0 0 auto;

	padding-left: $spacingLarge;
	padding-right: $spacingLarge;
	padding-top: $spacingSmall;

	.buttonDiv {
		display: flex;
		align-items: center;
		gap: 32px;

		height: 128px;

		.signInButton {
			border: none;
			background-color: transparent;
			font-size: 24px;

			cursor: pointer;
		}

		.signUpButton {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			width: 192px;
			height: 48px;

			border: none;
			border-radius: 50px;

			background-color: var(--primary-color-button);

			font-size: 24px;
			font-weight: 600;
			color: var(--default-button-text);

			cursor: pointer;
		}
	}
}

.block {
	position: relative;
	height: 100vh;

	.content,
	.finalContent {
		position: relative;
		z-index: 2;

		display: flex;
		flex-direction: column;

		height: 100%;
	}

	.content {
		justify-content: center;

		padding-left: $paddingSize;
		padding-right: $paddingSize;

		.welcomeDiv {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.title {
				font-size: 88px;
				font-weight: 700;
				transform: translateY(-64px);
			}

			.subTitle {
				max-width: 500px;
				font-size: $fontSizeLarge;
				text-align: center;
			}

			.info {
				font-size: $fontSizeLarge;
				font-weight: 300;
				transform: translateY(264px);
			}
		}

		.showcaseDiv {
			display: flex;
			align-items: center;
			justify-content: space-around;

			&[data-reverse='true'] {
				flex-direction: row-reverse;
			}

			.showcaseImage {
				border-radius: 25px;
			}

			.showcaseTextDiv {
				display: flex;
				flex-direction: column;
				gap: 24px;
				max-width: 700px;

				.showcaseTitle {
					font-size: $fontSizeExtraLarge;
					font-weight: 600;
				}

				.showcaseDescription {
					font-size: $fontSizeLarge;
				}
			}
		}
	}

	.finalContent {
		justify-content: end;

		padding-right: $paddingSize;

		.finalDiv {
			display: flex;
			align-items: stretch;
			justify-content: space-between;

			.ctaDiv {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;

				height: 100%;
				text-align: center;

				padding-bottom: 160px;
				padding-top: 80px;

				.ctaTitle {
					font-size: $fontSizeExtraLarge;
					font-weight: 600;
				}

				.ctaDescription {
					font-size: $fontSizeLarge;
				}

				.badgeDiv {
					display: flex;
					gap: 16px;
					padding-bottom: 80px;

					.badge {
						display: flex;
						align-items: center;
						gap: $spacingSmall;

						height: 56px;

						border-radius: 15px;
						background-color: $textColor;

						font-size: $fontSizeMedium;
						color: var(--default-button-text);
						padding-right: 12px;

						.badgeIcon {
							width: $badgeIconSize;
							height: $badgeIconSize;
							margin-left: $spacingSmall;
						}
					}
				}

				.signUpButton {
					display: flex;
					align-items: center;
					justify-content: center;

					width: 320px;
					height: 80px;

					border: none;
					border-radius: 50px;

					background-color: var(--primary-color-button);

					font-size: $fontSizeMedium;
					font-weight: 600;
					color: var(--default-button-text);

					cursor: pointer;
				}
			}
		}
	}

	.backgroundImage {
		z-index: 1;
		filter: brightness(0.4);
		object-fit: cover;
	}
}
