.buttonLines {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.weeklyDiv {
    width: 112px;
    height: 24px;
}

.button {
    width: 112px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--default-button-text);
    background-color: var(--primary-color-button);
}