@use 'sass:map';

$difficulties: (
	'easy': (
		bg: var(--boss-easy),
		text: var(--default-white),
		icon: var(--default-white),
	),
	'normal': (
		bg: var(--boss-normal),
		text: var(--default-button-text),
		icon: var(--default-button-text),
	),
	'hard': (
		bg: var(--boss-hard),
		text: var(--default-button-text),
		icon: var(--default-button-text),
	),
	'chaos': (
		bg: var(--boss-chaos),
		text: var(--boss-chaos-secondary),
		border: var(--boss-chaos-secondary),
	),
	'extreme': (
		bg: var(--boss-extreme),
		text: var(--boss-extreme-secondary),
		border: var(--boss-extreme-secondary),
	),
);

.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	box-sizing: border-box;
	border: none;
	border-radius: 25px;
	transition:
		background 0.2s ease-in-out,
		border 0.2s ease-in-out;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.8;
	}

	.content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.buttonText {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		transition: transform 0.1s ease-in-out;
		margin-right: 2px;
	}

	.textShift {
		transform: translateX(-6px);
	}

	.icon {
		position: absolute;
		right: 6px;
		transition:
			transform 0.1s ease,
			opacity 0.1s ease;
		transform: scale(0.75);
		opacity: 0;
	}

	.iconVisible {
		transform: scale(1);
		opacity: 1;
	}

	@each $name, $colors in $difficulties {
		&.#{$name} {
			background-color: map.get($colors, bg);
			color: map.get($colors, text);

			@if map.has-key($colors, border) {
				border: solid 2px map.get($colors, border);
			}

			.icon {
				color: map.get($colors, icon);
			}
		}
	}
}

.smallButton {
	width: 80px;
}

.bigButton {
	width: 112px;
}

.banIcon {
	color: var(--icon-danger-color);
}
