:root {
  --default-black: #212121;
  --default-white: #EDEDED;
  --background-white: #DADADA;
  --primary-color-button: #7BD96D;
  --default-button-text: #121212;
  --placeholder-color-text: #474747;
  --server-color-button: #3C6997;
  --default-color-button: #D7D7D7;
  --danger-color-button: #C33232;
  --event-color-button: #73DCE7;
  --boss-hud-color: #91C9E3;
  --icon-cta-color: #40A06A;
  --icon-danger-color: #DA2C38;
  --link-color: #64B5F6;
  --link-color-hover: #40C4FF;
  --disabled: #ADADAD;
}

html,
body {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background-color: var(--default-black);
}

body.light {
  background-color: var(--background-white);
}

.mainContent {
  display: flex;
  justify-content: center;
  width: 1600px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}