.mainDiv {
    display: flex;
    flex-direction: row;
}

.loaderDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 827px;
}

.characterContent {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 827px;
}

.buttonLine {
    display: flex;
    justify-content: flex-end;
    width: inherit;
    gap: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.discardButton {
    width: 284px;
    height: 56px;
    font-size: 32px;
    font-weight: 500;
    color: var(--default-white);
    background-color: var(--danger-color-button);
    border-radius: 50px;
}

.saveChangesButton {
    width: 284px;
    height: 56px;
    font-size: 32px;
    font-weight: 500;
    color: var(--default-button-text);
    background-color: var(--primary-color-button);
    border-radius: 50px;
}

.usernameLine {
    display: flex;
    justify-content: flex-end;
    width: inherit;
    height: 80px;
    gap: 16px;
    margin-top: 16px;
    padding-right: 24px;
}

.characterImgSwitch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 252px;
    height: 80px;
    gap: 16px;
    margin-right: 20px;
}

.characterImgDiv {
    width: 80px;
    height: 80px;
}

.errorIcon {
    color: var(--icon-danger-color);
}

.characterName {
    width: 600px;
    border: none;
    font-size: 72px;
    font-weight: 600;
    text-align: end;
    color: var(--default-button-text);
    background-color: transparent;
    outline: none;
}

.characterName::placeholder {
    border: none;
    color: var(--placeholder-color-text);
    outline: none;
}

.characterName:focus {
    border: none;
    outline: none;
}

.invalid {
    color: var(--icon-danger-color);
}

.bigBlock {
    display: flex;
    justify-content: flex-end;
    width: inherit;
    height: 115px;
    margin-top: 16px;
    padding-right: 24px;
}

.characterBossLinkLegion {
    display: flex;
    justify-content: space-between;
    width: 377px;
    height: 98px;
}

.bossSlot {
    width: 90px;
    height: 90px;
}

.bossIcon {
    color: var(--default-button-text);
    transition: opacity 0.1s ease-in-out;
    margin-top: 8px;
}

.on {
    opacity: 1;
}

.off {
    opacity: 0.3;
}

.characterClassJob {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 515px;
    height: 115px;
}

.characterClass {
    font-size: 56px;
    color: var(--default-button-text);
}

.characterJob {
    font-size: 40px;
    font-weight: 300;
    color: var(--default-button-text);
}

.levelDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    margin-top: 16px;
}

.levelArea {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: inherit;
    gap: 8px;
    padding-right: 24px;
}

.levelText {
    font-size: 32px;
    font-weight: 300;
    color: var(--default-button-text);

}

.levelInput {
    width: 85px;
    border: none;
    font-size: 48px;
    text-align: end;
    color: var(--default-button-text);
    background-color: transparent;
    appearance: textfield;
}

.levelInput:focus {
    outline: none;
}

.levelInput::placeholder {
    color: var(--placeholder-color-text);
}

.levelSpan {
    font-size: 48px;
    color: var(--default-button-text);
}

.symbols {
    flex: 1;
    width: inherit;
    margin-top: 16px;
    overflow-y: auto;
}

.title {
    font-size: 48px;
    color: var(--default-button-text);
    margin-left: 24px;
}