$divHeight: 826px;

.mainDiv {
	display: flex;
	flex-direction: row;
	height: 826px;
	overflow: hidden;

	.characterContent {
		display: flex;
		flex-direction: column;
		width: 950px;
		height: $divHeight;
	}
}
