.navBody {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 120px;
    background-color: #424242;
    align-self: center;
}

.logoDiv {
    position: relative;
    width: 312px;
    height: 104px;
}

.version {
    position: absolute;
    right: 16px;
    bottom: 10px;
    width: 48px;
    font-size: 16px;
    font-weight: 500;
    text-align: end;
    color: #f6f6f6;
}