$height: 24px;

.buttonLines {
	display: flex;

	gap: 8px;

	margin-top: 8px;
}

.weeklyDiv {
	width: 112px;
	height: $height;
}

.button {
	width: 112px;
	height: $height;

	background-color: var(--primary-color-button);

	font-size: 14px !important;
	font-weight: 500 !important;
	color: var(--default-button-text);
}
