.serverDropdownWrapper {
    position: absolute;
    width: 256px;
    background-color: var(--server-color-button);
    border-radius: 15px;
    transition: max-height 0.3s ease;
    max-height: 56px;
    overflow: hidden;
}

.serverDropdownWrapper.open {
    position: absolute;
    max-height: 394px;
}

.selectedServerWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    cursor: pointer;
}

.hr {
    border: none;
    border-bottom: 2px solid #294766;
}

.iconWrapper {
    margin-left: 4px;
    margin-right: 8px;
}

.serverName {
    width: 140px;
    font-size: 32px;
    color: var(--default-white);
}

.serversList {
    display: flex;
    flex-direction: column;
}


.icon {
    width: 32px;
    height: 32px;
    color: var(--default-white);
    margin-left: 8px;
    margin-right: 4px;
}

.rotated {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.rotatedActive {
    transform: rotate(180deg);
}