$dropdownHeight: 56px;
$borderRadius: 15px;
$iconSize: 32px;
$spacingSmall: 4px;
$spacingMedium: 8px;

.selectedServerWrapper {
	display: flex;
	align-items: center;

	width: 256px;
	height: $dropdownHeight;

	border: none;
	border-radius: $borderRadius;
	background-color: var(--server-color-button);

	cursor: pointer;
	outline: none;

	.iconWrapper {
		margin-left: $spacingSmall;
		margin-right: $spacingMedium;
	}

	.serverName {
		width: 140px;

		font-size: 32px;
		text-align: start;
		color: var(--default-white);
	}

	.icon {
		width: $iconSize;
		height: $iconSize;

		color: var(--default-white);

		margin-left: $spacingMedium;
		margin-right: $spacingSmall;
	}
}

.serversList {
	z-index: 100;
	display: flex;
	flex-direction: column;

	width: 256px;

	overflow: hidden;

	border-radius: $borderRadius;
	background-color: var(--server-color-button);
	filter: drop-shadow(0 0 3px #121212);

	margin-top: 8px;
}

.serverItem:focus-visible {
	outline: none;
}

.scrollContainer {
	width: 100%;

	overflow-y: auto;
}
