$fontSmall: 48px;
$divHeight: 827px;
$gap16: 16px;
$bigBlockHeight: 115px;

.mainDiv {
	display: flex;
	flex-direction: row;

	height: 826px;

	overflow: hidden;

	.characterContent {
		display: flex;
		flex-direction: column;

		width: 950px;
		height: $divHeight;

		.usernameLine {
			display: flex;
			justify-content: flex-end;

			gap: $gap16;

			width: inherit;
			height: 80px;

			margin-top: 16px;
			padding-right: 24px;
		}

		.bigBlock {
			display: flex;
			justify-content: flex-end;

			width: inherit;
			height: $bigBlockHeight;

			margin-top: 16px;
			padding-right: 24px;

			.characterClassJob {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				width: 515px;
				height: $bigBlockHeight;

				.characterClass {
					font-size: 56px;

					color: var(--default-button-text);
				}

				.characterJob {
					font-size: 40px;
					font-weight: 300;

					color: var(--default-button-text);
				}
			}
		}
	}
}
