.tooltipDark {
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--default-white);
    background-color: var(--default-black);
    border-radius: 4px;
    max-width: 350px;
    white-space: pre-wrap;
}

.tooltipLight {
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--default-black);
    background-color: var(--default-white);
    border-radius: 4px;
    max-width: 350px;
    white-space: pre-wrap;
}

.arrowDark {
    transform: translateY(-0.5px);
    fill: var(--default-black);
}

.arrowLight {
    transform: translateY(-0.5px);
    fill: var(--default-white);
}