.toasterContainer {
	--toastify-toast-width: auto;
	--toastify-container-width: auto;
}

.toaster {
	--toastify-color-dark: var(--default-button-text);
	--toastify-font-family: roboto, sans-serif;

	border-radius: 6px;
	font-size: 1rem;
	white-space: pre-line;
}

/* stylelint-disable selector-class-pattern */
.Toastify__toast--success .Toastify__progress-bar {
	background: var(--icon-cta-color);
}

.Toastify__toast--success .Toastify__toast-icon svg {
	fill: var(--icon-cta-color);
}

.Toastify__toast--error .Toastify__progress-bar {
	background: var(--icon-danger-color);
}

.Toastify__toast--error .Toastify__toast-icon svg {
	fill: var(--icon-danger-color);
}
/* stylelint-enable selector-class-pattern */
