$symbolContainerHeight: 100px;
$symbolInfoWidth: 231px;
$fontSizeLarge: 20px;
$fontWeightRegular: 300;
$gapSmall: 4px;
$checkboxSize: 17px;

.symbolContainer {
	display: flex;
	width: 298px;
	height: $symbolContainerHeight;

	.imageContainer {
		display: flex;
		align-items: center;
		height: $symbolContainerHeight;
	}

	.off {
		filter: brightness(25%) saturate(0%);
	}

	.symbolOff {
		.unlockLevel {
			width: $symbolInfoWidth;
			font-size: 16px;
			font-weight: 600;
			color: var(--default-button-text);
			margin-top: $gapSmall;
		}
	}

	.symbolInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: $symbolContainerHeight;
		margin-left: $gapSmall;

		.levelExpInfo {
			display: flex;
			justify-content: space-between;
			width: $symbolInfoWidth;
			height: 23px;

			.symbolLevelText {
				width: auto;
				font-size: $fontSizeLarge;
				font-weight: $fontWeightRegular;
			}

			.symbolLevel,
			.symbolExp {
				width: 45px;
				border: none;
				background-color: transparent;
				font-size: $fontSizeLarge;
				font-weight: $fontWeightRegular;
				text-align: end;
				color: var(--default-button-text);
				appearance: textfield;

				&:focus {
					outline: none;
				}
			}
		}

		.progressDiv {
			display: flex;
			flex-direction: column;
			height: 8px;
			margin-top: $gapSmall;
		}

		.contentList {
			display: flex;
			flex-direction: column;
			gap: $gapSmall;
			height: 59px;
			margin-top: $gapSmall;

			.contentItem {
				display: flex;
				align-items: center;
				gap: $gapSmall;
				font-size: 14px;

				.checkboxRoot {
					display: flex;
					justify-content: center;
					width: $checkboxSize;
					height: $checkboxSize;
					border: 1px solid var(--default-button-text);
					border-radius: 4px;
					background: transparent;

					&[data-state='checked'] {
						background: var(--default-button-text);
						border-color: var(--default-button-text);
					}

					&[data-disabled] {
						background: var(--icon-danger-color);
						cursor: not-allowed;
						border-color: var(--icon-danger-color);
					}

					.checkboxIndicator {
						color: var(--default-white);
					}
				}
			}
		}
	}
}
