$dropdownHeight: 80px;
$dropdownWidth: 464px;
$borderRadius: 15px;
$dropdownOpenHeight: 242px;
$scrollbarLimit: 16px;
$iconSize: 40px;

.selectedBossWrapper {
	position: relative;
	display: flex;
	align-items: center;

	width: $dropdownWidth;
	height: $dropdownHeight;

	overflow: hidden;

	box-sizing: border-box;

	border: solid 2px var(--default-black);
	border-radius: $borderRadius;
	background-color: var(--background-white);

	cursor: pointer;

	outline: none;

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--background-white) 90%,
			black
		);
	}

	.bossDiv {
		display: flex;
		align-items: center;

		gap: 8px;

		color: var(--default-button-text);

		margin-left: 16px;

		.bossName {
			font-size: 24px;
			font-weight: 500;
		}
	}

	.iconsDiv {
		right: 0;
		display: flex;

		gap: 16px;

		margin-left: auto;
		margin-right: 16px;

		.menuIcon {
			right: 0;
			display: flex;

			width: $iconSize;
			height: $iconSize;

			color: var(--default-button-text);
		}
	}
}

.bossList {
	width: $dropdownWidth;
	max-height: $dropdownOpenHeight;

	overflow: hidden;

	border: solid 2px var(--default-black);
	border-radius: $borderRadius;
	background-color: var(--background-white);

	cursor: pointer;

	margin-bottom: 8px;
	margin-top: 8px;

	outline: none;
}

.bossItem {
	padding-left: 16px;

	&:focus-visible {
		outline: none;
	}

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--background-white) 90%,
			black
		);
	}

	&:not(:last-child) {
		border-bottom: 1px solid #143952;
	}

	.itemContent {
		display: flex;
		align-items: center;

		gap: 8px;

		height: $dropdownHeight;

		font-size: 24px;

		.iconsDiv {
			right: 0;
			display: flex;

			gap: 16px;

			margin-left: auto;
			margin-right: 16px;

			.icon {
				right: 0;
				display: flex;

				width: $iconSize;
				height: $iconSize;

				color: var(--default-button-text);
			}
		}
	}
}

.scrollContainer {
	width: 100%;

	overflow-y: auto;
}
