$dropdownHeight: 80px;
$dropdownMaxHeight: 408px;
$iconSize: 32px;
$chevronIconSize: 40px;
$scrollbarLimit: 16px;
$borderRadius: 15px;
$dropdownWidth: 480px;
$hoverColor: 80%;

.selectedCharacterWrapper {
	position: relative;

	display: flex;
	align-items: center;

	width: $dropdownWidth;
	height: $dropdownHeight;

	overflow: hidden;

	border-radius: $borderRadius;
	background-color: var(--boss-dropdown-color);

	transition: background-color 0.2s ease-in;

	cursor: pointer;

	&[data-disabled='true'] {
		background-color: var(--boss-dropdown-color-disabled);

		cursor: not-allowed;
	}

	&[data-cleared='true'] {
		background-color: var(--bar-default);
	}

	.classIcon {
		position: absolute;

		opacity: 0.25;
	}

	.nameDiv {
		display: flex;
		flex-direction: column;

		margin-left: 112px;

		.characterName {
			font-size: 28px;
			font-weight: 500;
			color: var(--default-button-text);
		}

		.characterClass {
			font-size: 24px;
			color: var(--default-button-text);
		}
	}

	.iconsDiv {
		display: flex;
		align-items: center;

		gap: 4px;

		margin-left: auto;
		margin-right: 16px;

		.bossNumber {
			font-size: 26px;
			font-weight: 500;
			color: var(--default-button-text);
		}

		.iconClear {
			width: $iconSize;
			height: $iconSize;

			color: var(--default-button-text);
		}

		.icon {
			width: $chevronIconSize;
			height: $chevronIconSize;

			color: var(--default-button-text);
		}
	}
}

.characterList {
	z-index: 1001;
	width: $dropdownWidth;
	max-height: $dropdownMaxHeight;

	overflow: hidden;

	border-radius: $borderRadius;
	background-color: var(--boss-dropdown-color);

	filter: drop-shadow(0 0 3px #121212);

	margin-bottom: 4px;
	margin-top: 4px;
}

.characterItem {
	display: flex;
	align-items: center;

	transition: background-color 0.2s ease-in;

	cursor: pointer;

	&:hover {
		background-color: color-mix(in srgb, var(--boss-dropdown-color) $hoverColor, black);
	}

	&[data-checked='true'] {
		background-color: var(--bar-default);
	}

	&[data-locked='true'] {
		background-color: var(--disabled);
	}

	&[data-checked='true']:hover {
		background-color: color-mix(in srgb, var(--bar-default) $hoverColor, black);
	}

	&[data-locked='true']:hover {
		background-color: color-mix(in srgb, var(--disabled) $hoverColor, black);
	}

	&:focus-visible {
		outline: none;
	}

	&:not(:last-child) {
		border-bottom: 2px solid #143952;
	}
}

.scrollAreaRoot {
	max-height: $dropdownMaxHeight;
}

.scrollAreaViewport {
	max-height: inherit;

	overflow: auto;

	overscroll-behavior: contain;
}

.scrollAreaScrollbar {
	display: flex;

	width: 6px;

	padding: 2px;

	user-select: none;

	padding-bottom: $scrollbarLimit;
	padding-top: $scrollbarLimit;

	touch-action: none;

	&[data-orientation='vertical'] {
		width: 6px;
	}
}

.scrollAreaThumb {
	position: relative;
	flex: 1;

	border-radius: 999px;

	background: var(--default-black);
}
